<html>
<body bgcolor="white">
<h2><font color="purple">Build by Power of Terraform <font color="red"> v0.12</font></h2><br><p>
<font color="green">Server PrivateIP090321: <font color="aqua">$myip<br><br>
<font color="magenta">
<b>Version 4.0</b>
</body>
</html>
